@import '../../assets/scss/style';


.headerMenu{    
  &__top{
    position: absolute;
    right:0;
    top: 0;    
  }
  mat-expansion-panel-header{
    height:0;
    padding: 0;
  }
  mat-expansion-panel{
    box-shadow: none;    
  } 

  .mat-expansion-panel-body{
    //height:100vh;
  }
  &__subMenu{
    color: color(grayscale, white);  
    height: 100vh;
    margin: 6.2rem 0 0;
  }
  &__content{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;    
    position:relative;
    z-index: 9;
  }
  &__boxButtons{
    background: color(grayscale, gray-2);
    position: relative;
    z-index: 9;
  }
  &__buttons{   
    color: color(grayscale, white);    
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    position: relative;
    z-index: 9;
    &::after{
      content: '';
      background: color(grayscale, white);  
      display: block;
      height: 70%;
      left:50%;
      position: absolute;
      top:50%;
      transform: translate(-50%, -50%);
      width: 1px;
    }
    &.bk-blue{
      background: color(complementary, primary);  
    }
    &.bk-red{
      background: color(base, secondexportations);  
    }
    button{
      align-items: center;
      display: flex;  
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: map-get($weights, medium);
      text-transform: uppercase; 
      &.active{
        font-weight: map-get($weights, bold);
      }  
    }
  }
  &__categories{
    padding-top: 2rem;
    &-title{   
      font-size: 1.6rem;
      font-weight: map-get($weights, bold);
      margin-bottom: .6rem;
      position: relative;
    }
    &-meetcolombia{
      span{
        background: color(base,meetcolombia);
      }
    }
    &-secondexportations{
      span{
        background: color(base,secondexportations);
      }
    }
    &-investments{
      span{
        background: color(base,investments);
      }
    }
    &-tourism{
      span{
        background: color(base,tourism);
      }
    }
    &-country{
      span{
        background: color(base,country);
      }
    }
    &-visitcolombia{
      span{
        background: color(base,visitcolombia);
      }
    }
    &-identificator{
      display: block;
      height: 2.3rem;
      left:-1.8rem;
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      width: .7rem;
    }
    &-description{
      font-family: $font-tertiary;
      font-size: 1.2rem;
      font-weight: map-get($weights, light);
      line-height: 1.8rem;
    }
    li{
      align-items: center;
      display: flex;     
      padding: 2rem 1.4rem 2rem 6rem;
      position: relative;
      cursor: pointer;
      &:hover{
        &:after{
          content: '';
          background: #F1F5F8;
          display: block;
          height:100%;
          left:0;
          opacity: 0.1;
          position: absolute;
          top:0;
          width: 100%;
        }
        .headerMenu__categories-title{
          font-size: 2rem;
          &.headerMenu__categories-meetcolombia{
            color: color(base,meetcolombia);           
          }
          &.headerMenu__categories-secondexportations{
            color: color(base,secondexportations);
          }
          &.headerMenu__categories-investments{
            color: color(base,investments);
          }
          &.headerMenu__categories-tourism{
            color: color(base,tourism);
          }
          &.headerMenu__categories-country{
            color: color(base,country);
          }
          &.headerMenu__categories-visitcolombia{
            color: color(base,visitcolombia);
          }
        } 
      }
    }
  }
  &__bottom{
    font-family: $font-secondary;
    font-size: 1.6rem;   
    margin-bottom: 9rem;
    padding: 0 4rem;
    &-description{
      line-height: 2rem;
      margin-bottom: 3rem;
      margin-top:1.4rem;
      font-weight: map-get($weights, regular);     
    }
    &-link{
      font-weight: map-get($weights, semi_bold); 
    }
  }
  &__children{
    height: 100vh;
    left: 0;
    overflow: auto;
    position: absolute;    
    transition: 0.5s;
    transform: translateX(100%);
    top:-7px;
    width: 100%;
    z-index: 9;
    &.open{
      transition: 0.5s;
      transform: translateX(0);
    }
    .close{
      display: none;
    }
    &-information{
      padding: 2rem;
      position: relative;
    }
    &-back{
      align-items: center;
      display: flex;
      font-family: $font-secondary;
      font-size: 1.4rem;
      font-weight: map-get($weights, semi_bold);  
      justify-content: center; 
      margin-bottom:.7rem;
      mat-icon{
        font-size: 2rem;
      }  
      p{
        margin-left: .4rem;
      }
    }
    &-title{     
      font-size: 2.4rem;
      font-weight: map-get($weights, bold);      
      &.headerMenu__children-categories-meetcolombia{
        color: color(base,meetcolombia);    
      }    
      &.headerMenu__children-categories-secondexportations{
        color: color(base,secondexportations);
      }
      &.headerMenu__children-categories-investments{
        color: color(base,investments);
      }
      &.headerMenu__children-categories-tourism{
        color: color(base,tourism);
      }
      &.headerMenu__children-categories-country{
        color: color(base,country);
      }
      &.headerMenu__children-categories-visitcolombia{
        color: color(base,visitcolombia);
      }
    }
    &-content{
      border-bottom: 1px solid white;
      font-family: $font-secondary;
      padding:3rem 0 .6rem;
    }
    &-subtitle{
      font-size: 1.6rem;
      font-weight: map-get($weights, bold); 
      margin-bottom: .6rem;
    }
    &-description{
      font-size: 1.4rem;
      font-weight: map-get($weights, regular); 
      line-height: 1.8rem;
      margin-bottom:1.8rem;
    }
    &-link{
      color: color(grayscale,white);
      display: flex;
      font-size: 1.6rem;
      font-weight: map-get($weights, semi_bold); 
      justify-content: space-between;
      line-height: 1.8rem;
      margin-bottom: 2.4rem;
      text-decoration: none;     
      p{
        text-decoration: underline;
      }
      mat-icon{
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
      }
    }  
  }
  &__childrenLeft{
    display: none;
  }
}

.background {  
  height: 100vh;
  position: absolute; 
  right:0;
  top:0;   
  width: 100%;  
  img{
    //height: 100vh;
    width: 100%;
  }
}

/*.dropdown {
  background-color: white;
  color:red;
  left: 0;
  position: absolute;
  top: 100%;  
  width: 100%;
  
  .menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 9;
    li {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  .submenu-options {
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 20%;
    .submenu-option {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }

  .content {
    flex: 1;
    color:red;
    padding: 20px;
    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      gap: 20px;
      .grid-item {
        border: 1px solid #ccc;
        padding: 10px;
      }
    }
  }
}*/
@media (max-width: 360px) {
  .headerMenu{  
    button{
      font-size: 1.2rem;
    }
  }
}

@include mq-min(md) {
  .background {  
    display: none;
  }
  .headerMenu{
    &__boxButtons{
      position: relative;
      z-index: 9;
    }
    &__buttons{
      padding: 1.3rem 3.2rem;  
      position: relative;   
      width: 495px;  
      &::after{
        content: '';
        background: color(grayscale, white);  
        display: block;
        height: 60%;
        left:50%;
        position: absolute;
        top:50%;
        transform: translate(-50%, -50%);
        width: 1px;
      }
      button{
        font-size: 1.5rem;        
        &.active{
          font-weight: map-get($weights, bold);
        }  
      }
    }
    &__top{
      width: 100%;
    }   
    &__subMenu{     
      margin: 4.9rem 0 0;
    }
    &__categories{ 
      display: flex;
      padding: 0 3rem;
      &.headerMenu__bk-business{
        background: color(complementary, primary);  
      }
      &.headerMenu__bk-colombia{
        background: color(base, secondexportations);  
      }
      &-title{
        margin-bottom: 0;   
      }
      &-identificator{
        display: none;       
      }
      &-description{
        display: none;
      }
      li{
        padding: 1.3rem 1.2rem;
        &:hover, &.activeCategory{  
          .headerMenu__categories-title{
            color:inherit !important;
            font-size: 1.6rem;
          }
          &.headerMenu__categories-meetcolombiaDesktop{            
            background: color(base,meetcolombia);                       
          }
          &.headerMenu__categories-secondexportationsDesktop{
            background: color(base,secondexportations);              
          }
          &.headerMenu__categories-investmentsDesktop{
            background: color(base,investments);             
          }
          &.headerMenu__categories-tourismDesktop{
            background: color(base,tourism);               
          }
          &.headerMenu__categories-countryDesktop{
            background: color(base,country);              
          }
          &.headerMenu__categories-visitcolombiaDesktop{
            background: color(base,visitcolombia);              
          }
        }
        mat-icon{
          transform: rotate(90deg);
        }
      }
    }
    &__bottom{
      display: none;
    }
    &__childrenLeft{
      background: color(grayscale,gray-4);      
      display: block;
      max-width: 375px;
      min-width: 375px;
      padding: 3.7rem;      
      &.headerMenu__childrenLeft-meetcolombiaBorder{
        border-right:5px solid color(base,meetcolombia);
      }
      &.headerMenu__childrenLeft-secondexportationsBorder{
        border-right:5px solid color(base,secondexportations);
      }
      &.headerMenu__childrenLeft-investmentsBorder{
        border-right:5px solid color(base,investments);
      }
      &.headerMenu__childrenLeft-tourismBorder{
        border-right:5px solid color(base,tourism);
      }
      &.headerMenu__childrenLeft-countryBorder{
        border-right:5px solid color(base,country);
      }
      &.headerMenu__childrenLeft-countryBorder{
        border-right:5px solid color(base,country);
      }
      &.headerMenu__childrenLeft-visitcolombiaBorder{
        border-right:5px solid color(base,visitcolombia);
      }      
      &-description{
        font-family: $font-secondary;
        font-size: 1.6rem;
        font-weight: map-get($weights, regular); 
        line-height: 2rem;
        margin-bottom:1.4rem;
        margin-top:1.9rem;
      }
      &-link{
        color: color(base,investments);
        display: flex;
        font-family: $font-secondary;
        font-size: 1.6rem;
        font-weight: map-get($weights, semi_bold); 
        justify-content: space-between;
        line-height: 1.8rem;
        margin-bottom: 2.4rem;
        text-decoration: none; 
      }      
    }
    &__children{
      color: color(grayscale,gray-3);
      display: flex;
      height: auto;
      left: 0rem;
      overflow: inherit;
      position: absolute;
      top: 51px;
      width: 100vw;
      z-index: 9; 
      &-first{
        display: flex;
        justify-content: space-between;
      }
      .close{
        display: block;
        color: #A0A0A0;
      }
      &-information{
        order:2;
        padding: 2rem;
        padding: 2.5rem 3rem;
        position: relative;
      }
      &-back{
        display: none;
      }
      &-title{     
        font-size: 2rem;
        font-weight: map-get($weights, bold);  
      }
      &-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);       
        gap: 0 35px;
      }
      &-content{
        padding: 2rem 0 0.6rem;
      }
      &-subtitle{
       font-family: $font-secondary;
       margin-bottom: .9rem;
      }
      &-description{
        font-family: $font-secondary;      
        margin-bottom:1.8rem;
      }
      &-link{
        color: color(base, investments);       
        font-family: $font-secondary;      
        font-size: 1.4rem;
        font-weight: map-get($weights, semi_bold); 
        justify-content: start;
        margin-bottom: 1.3rem;
        p{
          margin-right: .5rem;
        }
        mat-icon{
          font-size: 1.5rem;
          height: 1.5rem;
          width: 1.5rem;
        }
      }  
    }
  }
}

