// Configuration
@import '../../assets/scss/config/index';


.headerMenu{    
  word-break: break-word;
  a, p, h1, h2, h3, h4, li, button, div {
    word-break: break-word;
    width: 100%;
  }
  mat-expansion-panel-header{
    height:0;
    padding: 0;
  }
  mat-expansion-panel{
    box-shadow: none;    
  } 
  &__subMenu{
    color: color(grayscale, white);  
    // height: 100vh;
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    height: 100lvh;
    max-height: 100lvh;
    min-height: 100lvh;
    overflow: hidden scroll;
    position:relative;
    z-index: 9;
    /* &.no-scroll { overflow: hidden;} */
  }
  &__content, .background {
    &::after {
      background: rgba(color(grayscale, black), .5);
      backdrop-filter: blur(1px);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: fixed;
      top: 6rem;
      width: 100%;
      z-index: -1;
    }
  }
  .background::after {
    top: 0;
    z-index: 1;
  }
  &__boxButtons{
    position: relative;
    z-index: 9;
  }
  &__buttons{      
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    position: relative;
    z-index: 9;
    &.bk-blue{ background: color(complementary, primary); }
    &.bk-red{ background: color(base, secondexportations); }
    button{
      align-items: center;      
      border-right: .1rem solid color(grayscale, white);  
      color: rgba(color(grayscale, white), 0.8);    
      display: flex;  
      cursor: pointer;
      font-family: 'Futura Bk BT';
      font-size: 1.4rem;
      font-weight: map-get($weights, medium);
      text-transform: uppercase; 
      padding: 0 1.2rem;
      span {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      mat-icon { transition: all .5s; }
      &.active{
        color: color(grayscale, white);
        font-weight: map-get($weights, bold);
        mat-icon {
          transform: rotate(180deg);
          transition: all .5s;
        }
      } 
      &:last-child { border-color: transparent; } 
    }
  }
  &__bottom-link{
    color: #ffffff;
    text-decoration: none;
  }
  &__categories{    
    padding-top: 2rem;
    padding-bottom: 7rem;
    &-title{   
      font-family: 'Futura Lt BT';
      letter-spacing: 1px;
      font-size: 1.6rem;
      font-weight: map-get($weights, bold);
      margin-bottom: .6rem;
      position: relative;
      width: max-content;
    }
    &-meetcolombia{
      span{
        background: color(base,meetcolombia);
      }
    }
    &-secondexportations{
      span{
        background: color(base,secondexportations);
      }
    }
    &-investments{
      span{
        background: color(base,investments);
      }
    }
    &-tourism{
      span{
        background: color(base,tourism);
      }
    }
    &-country{
      span{
        background: color(base,country);
      }
    }
    &-visitcolombia{
      span{
        background: color(base,visitcolombia);
      }
    }
    &-identificator{
      display: block;
      height: 2.3rem;
      left:-1.8rem;
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      width: .7rem;
    }
    &-description{
      font-family: $font-tertiary;
      font-size: 1.2rem;
      font-weight: map-get($weights, light);
      line-height: 1.8rem;
    }
    &-information { 
      width: 100%;
    }
    li{
      align-items: center;   
      display: flex;     
      padding: 2rem 1.4rem 2rem 6rem;
      position: relative;
      cursor: pointer;
      &:hover{
        &:after{
          content: '';
          background: #F1F5F8;
          display: block;
          height:100%;
          left:0;
          opacity: 0.1;
          position: absolute;
          top:0;
          width: 100%;
        }
        .headerMenu__categories-title{
          font-size: 2rem;
      
          &.headerMenu__categories-meetcolombia{
            color: color(base,meetcolombia);           
          }
          &.headerMenu__categories-secondexportations{
            color: color(base,secondexportations);
          }
          &.headerMenu__categories-investments{
            color: color(base,investments);
          }
          &.headerMenu__categories-tourism{
            color: color(base,tourism);
          }
          &.headerMenu__categories-country{
            color: color(base,country);
          }
          &.headerMenu__categories-visitcolombia{
            color: color(base,visitcolombia);
          }
        } 
      }
    }
  }
  &__bottom{
    font-family: $font-secondary;
    font-size: 1.6rem;   
    margin-bottom: 9rem;
    padding: 0 4rem;
    &-description{
      line-height: 2rem;
      margin-bottom: 3rem;
      margin-top:1.4rem;
      font-weight: map-get($weights, regular);     
    }
    &-link{
      font-weight: map-get($weights, semi_bold); 
    }
    img { object-fit: contain; object-position: 0 0; }
  }
  &__children{
    height: 100vh;
    left: 0;
    position: fixed;    
    transition: 0.5s;
    transform: translateX(100%);
    top: 6rem;
    width: 100%;
    z-index: 9;
    &.open{
      transition: 0.5s;
      transform: translateX(0);
    }
    .close{
      display: none;
    }
    &-information{
      height: 100vh;
      padding: 2rem;
      position: relative;
      overflow-x: scroll;
      padding-bottom: 7rem;
    }
    &-back{
      align-items: center;
      display: flex;
      font-family: $font-secondary;
      font-size: 1.4rem;
      font-weight: map-get($weights, semi_bold);  
      justify-content: center; 
      margin-bottom:.7rem;
      mat-icon{
        font-size: 2rem;
      }  
      p{
        margin-left: .4rem;
      }
    }
    &-title{     
      font-family: 'Futura Bk BT';
      font-size: 2.4rem;
      font-weight: map-get($weights, bold);      
      &.headerMenu__children-categories-meetcolombia{
        color: color(base,meetcolombia);    
      }    
      &.headerMenu__children-categories-secondexportations{
        color: color(base,secondexportations);
      }
      &.headerMenu__children-categories-investments{
        color: color(base,investments);
      }
      &.headerMenu__children-categories-tourism{
        color: color(base,tourism);
      }
      &.headerMenu__children-categories-country{
        color: color(base,country);
      }
      &.headerMenu__children-categories-visitcolombia{
        color: color(base,visitcolombia);
      }
    }
    &-content{
      border-bottom: 1px solid white;
      font-family: $font-secondary;
      padding:3rem 0 .6rem;
    }
    &-subtitle{
      font-size: 1.6rem;
      font-weight: map-get($weights, bold); 
      margin-bottom: .6rem;
    }
    &-description{
      font-size: 1.4rem;
      font-weight: map-get($weights, regular); 
      line-height: 1.8rem;
      margin-bottom:1.8rem;
    }
    &-link{
      color: color(grayscale,white);
      display: flex;
      font-size: 1.6rem;
      font-weight: map-get($weights, semi_bold); 
      justify-content: space-between;
      line-height: 1.8rem;
      margin-bottom: 2.4rem;
      text-decoration: none;     
      p{
        text-decoration: underline;
      }
      mat-icon{
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
      }
    }  
  }
  &__childrenLeft{
    display: none;
    img {
      object-fit: contain;
      object-position: 0 0;
    }
  }

  .mat-expansion-panel{
    border-radius: 0;
  }
}

.background {  
  height: 100vh;
  position: fixed; 
  right:0;
  top:0;   
  width: 100%;  
  img{
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

@media (max-width: 360px) {
  .headerMenu{  
    button{
      font-size: 1.2rem;
    }
  }
}

@include mq-min(md) {
  .background { display: none; }
  .headerMenu{
    &__boxButtons{
      position: relative;
      z-index: 9;
      background: color(grayscale, gray-2) !important;
    }
    &__buttons{
      justify-content: flex-start;
      padding: 1.3rem 3.2rem;  
      position: relative;   
      width: 100%;  
      button{
        font-size: 1.5rem;        
        width: fit-content;
        &.active{
          font-weight: map-get($weights, bold);
        }  
      }
    }
    &__content{
      overflow: inherit;
      &::after{display: none;}
    }
    &__top{
      width: 100%;
    }   
    &__categories{ 
      display: flex;
      padding: 0 3rem;
      &-title{
        margin-bottom: 0;   
        font-family: 'Futura Bk BT';
        font-weight: 500;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      &-identificator{
        display: none;       
      }
      &-description{
        display: none;
      }
      li{
        min-width: 16rem;
        padding: 1.3rem 1.2rem;
        position: relative;    
        width: fit-content;   
        z-index: 9;        
        mat-icon{
          transform: rotate(90deg);
          transition: all .5s;
        }
        &:hover, &.activeCategory{ 
          .headerMenu__categories-title{        
            color:inherit !important;
            font-size: 1.6rem;
            font-weight: 700;
          }
        }
        &.activeCategory{ 
          mat-icon {
            transform: rotate(270deg);
            transition: all .5s;
          }
        }
      }
    }
    &__bottom{
      display: none;
    }
    &__childrenLeft{
      background: color(grayscale,gray-4);      
      display: block;
      max-width: 375px;
      min-width: 375px;
      padding: 3.7rem;      
      &.headerMenu__childrenLeft-meetcolombiaBorder{
        border-right:5px solid color(base,meetcolombia);
      }
      &.headerMenu__childrenLeft-secondexportationsBorder{
        border-right:5px solid color(base,secondexportations);
      }
      &.headerMenu__childrenLeft-investmentsBorder{
        border-right:5px solid color(base,investments);
      }
      &.headerMenu__childrenLeft-tourismBorder{
        border-right:5px solid color(base,tourism);
      }
      &.headerMenu__childrenLeft-countryBorder{
        border-right:5px solid color(base,country);
      }
      &.headerMenu__childrenLeft-countryBorder{
        border-right:5px solid color(base,country);
      }
      &.headerMenu__childrenLeft-visitcolombiaBorder{
        border-right:5px solid color(base,visitcolombia);
      }      
      &-description{
        font-family: $font-secondary;
        font-size: 1.6rem;
        font-weight: map-get($weights, regular); 
        line-height: 2rem;
        margin-bottom:1.4rem;
        margin-top:1.9rem;
      }
      &-link{
        color: color(base,investments);
        display: flex;
        font-family: $font-secondary;
        font-size: 1.6rem;
        font-weight: map-get($weights, semi_bold); 
        justify-content: space-between;
        line-height: 1.8rem;
        margin-bottom: 2.4rem;
        text-decoration: none; 
      }      
    }
    &__children{
      color: color(grayscale,gray-3);
      display: flex;
      height: auto;
      left: 0rem;
      overflow: inherit;
      position: absolute;
      top: 51px;
      width: 100vw;
      z-index: 9; 
      &-first{
        display: flex;
        justify-content: space-between;
      }
      .close{
        display: block;
        color: #A0A0A0;
        cursor:pointer;
      }
      &-information{
        color: color(grayscale, white);   
        order:2;
        padding: 2rem;
        padding: 2.5rem 3rem;
        position: relative;
        overflow-x: initial;
        height: auto;
      }
      &-back{
        display: none;
      }
      &-title{     
        font-size: 2rem;
        font-weight: map-get($weights, bold);  
      }
      &-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);       
        gap: 0 35px;
      }
      &-content{
        padding: 2rem 0 0.6rem;
      }
      &-subtitle{
        color: color(grayscale,gray-3);
        font-family: $font-secondary;
        margin-bottom: .9rem;
      }
      &-description{
        color: color(grayscale,gray-3);
        font-family: $font-secondary;      
        margin-bottom:1.8rem;
      }
      &-link{
        color: color(base, investments);       
        font-family: $font-secondary;      
        font-size: 1.4rem;
        font-weight: map-get($weights, semi_bold); 
        justify-content: start;
        margin-bottom: 1.3rem;
        p{
          margin-right: .5rem;
        }
        mat-icon{
          font-size: 1.5rem;
          height: 1.5rem;
          width: 1.5rem;
        }
      }  
    }
  }
}
@include mq-max(md) {
  .headerMenu{
    &__categories{
      background-color: transparent !important;
      li{
        background-color: transparent !important;
      }
    }
  }
}

@include mq-min(xlg) {
  .headerMenu {
    &__children{
      &-grid {
        grid-template-columns: repeat(3, 1fr);       
      }
    }
  }
}
