<div class="headerMenu" *ngIf="data">
  <div class="headerMenu__boxButtons" [style.background-color]="colorselect" [class]="openItemParent !== null ? 'active' : ''">
    <div class="headerMenu__buttons">
      <button *ngFor="let menu of data; let i = index"(click)="toggleMenu(i)" [class]="openItemParent == i ? 'active' : ''">
        <span> {{menu.attributes.title}} </span>
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </div>
  <mat-accordion class="headerMenu__top">
    <mat-expansion-panel *ngFor="let menu of data; let i = index"
      [expanded]="openItemParent === i"
      class="headerMenu__button">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{menu.attributes.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="headerMenu__subMenu">
        <!-- Change Background -->
        <div class="background">
          <picture>
              <img src="{{urlSite + menu.attributes.backgroundImage.data.attributes.url}}" alt="" />
          </picture>
        </div>
        <div [class]="noScrollMenu == true ? 'headerMenu__content no-scroll' : 'headerMenu__content'">
          <ul
          class="headerMenu__categories headerMenu__bk-business"
          [style.background-color]="menu.attributes.backgroundColor"
          [class]="openItemSubParent !== null ? 'active' : ''"
          >
            <li
            *ngFor="let subMenu of menu.attributes.SubMenu; let isub = index"
            class="submenu_items headerMenu__categories-meetcolombiaDesktop"
            (click)="toogleSubMenu(isub)"
            [style.background-color]="openItemSubParent === isub ? subMenu.color : menu.attributes.backgroundColor"
            [ngClass]="{activeCategory:openItemSubParent === isub}"
            #parenItem
            (mouseenter)="onMouseEnter(parenItem, subMenu.color)"
            (mouseleave)="onMouseOut(parenItem, menu.attributes.backgroundColor, isub)"
            (click)="toggleDarkMode()"
            >
              <div class="headerMenu__categories-information" >
                <div class="headerMenu__categories-title headerMenu__categories-meetcolombia">
                  <span class="headerMenu__categories-identificator" [style.background-color]="subMenu.color"></span>
                  {{subMenu.title}} 
                  {{subMenu.color}} 
                </div>
                <p class="headerMenu__categories-description">{{subMenu.description}}</p>
              </div>
              <mat-icon>chevron_right</mat-icon>
            </li>
          </ul>
          <div
          *ngFor="let subMenu of menu.attributes.SubMenu; let isub = index"
          class="content_info_element headerMenu__children"
          [ngClass]="{open:openItemSubParent === isub}"
          >
           <!-- Change Background Aquí el background cambia de acuerdo a la categoría-->
            <div class="background">
                  <picture>
                      <img src="{{urlSite + subMenu.backgroundImage.data.attributes.url}}" alt="" />
                  </picture>
            </div>
            <div class="headerMenu__children-information">
              <button class="headerMenu__children-back" (click)="toggleClose()">
                <mat-icon>west</mat-icon>
                <p>Volver</p>
              </button>
              <div class="headerMenu__children-first">
                <div class="headerMenu__children-title headerMenu__children-categories-meetcolombia" [style.color]="subMenu.color">
                  {{subMenu.title}}
                </div>
                <mat-icon class="close"  (click)="closeAll()">close</mat-icon>
              </div>
              <div  class="headerMenu__children-grid">
                <div
                  class="headerMenu__children-content"
                  *ngFor="let item of subMenu.items"
                >
                  <div class="headerMenu__children-subtitle">{{ item.title}}</div>
                  <div class="headerMenu__children-description">{{ item.description}}</div>
                  <a *ngFor="let link of item.links" href="{{link.url}}" class="headerMenu__children-link" target="_blank">
                    <p>{{link.text}}</p>
                    <mat-icon>open_in_new</mat-icon>
                  </a>
                </div>
              </div>
            </div>
            <div class="headerMenu__childrenLeft headerMenu__childrenLeft-meetcolombiaBorder" [style.border-right-color]="subMenu.color">
              <picture>
                <img src="{{urlSite + menu.attributes.logo.data.attributes.url}}" alt="" width="254" height="46"/>
              </picture>
              <div class="headerMenu__childrenLeft-description">
                {{menu.attributes.description}}
              </div>
              <a target="_blank" href="{{menu.attributes.UrlSite.url}}" class="headerMenu__childrenLeft-link">{{menu.attributes.UrlSite.text}} ></a>
            </div>
          </div>
          <div class="headerMenu__bottom">
            <picture>
              <img src="{{urlSite + menu.attributes.logoFooter.data.attributes.url}}" alt="" width="228" height="37"/>
            </picture>
            <div class="headerMenu__bottom-description">
              <p>{{menu.attributes.description}}</p>
            </div>
            <a href="{{menu.attributes.UrlSite.url}}" target="_blank" class="headerMenu__bottom-link">{{menu.attributes.UrlSite.text}} > </a>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>


