<!--<section class="menu-container"> 
  <ng-container *ngFor="let item of this.data?.options">
    <div class="menu-trigger" (click)="toggleMenu(item)">
      {{ item.name }} 
    </div>
    <div class="dropdown">
      <ul class="menu-list">
        <li
          *ngFor="let subItem of subOptions"
          (click)="changeContent(subItem.options)"
        >
          {{ subItem.title }}
        </li>
      </ul>
      <div class="content__left">
        <picture>
          <source />
          <img [src]="item.logo" alt="" />
        </picture>
        <p>{{ item.description }}</p>
        <a (click)="check(item)">Visitar sitio web > {{ item.link }}</a>
      </div>
      <div class="content">       
        <div class="grid-container">
          <ng-container *ngFor="let options of insideOptions">
            <div class="grid-item">
              <h2>{{ options.title }}</h2>
              <p>{{ options.description }}</p>
              <div *ngFor="let links of options.links">
                <a>{{ links.name }}</a>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</section>-->

<div class="headerMenu">  
  <div class="headerMenu__buttons">
    <button (click)="togglePanel1()"> Hagamos Negocios
      <mat-icon>expand_more</mat-icon>
    </button>
    <button (click)="togglePanel2()"> Conozca Colombia
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>  
  <mat-accordion class="headerMenu__top">
    <mat-expansion-panel 
      [expanded]="panelOpenState1"
      class="headerMenu__button">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Hagamos Negocios
        </mat-panel-title>        
      </mat-expansion-panel-header>
      <div class="headerMenu__subMenu">
        <!-- Change Background -->
        <div class="background">
          <picture>              
              <img src="assets/images/backgrounds/bk-business.png" alt="" />
          </picture>
        </div>
        <div  class="headerMenu__content">
          <ul class="headerMenu__categories">
            <li (click)="toggleOpen()"> 
              <div class="headerMenu__categories-information">
                <div class="headerMenu__categories-title headerMenu__categories-meetcolombia"><span class="headerMenu__categories-identificator"></span>Conoce Colombia</div>
                <p class="headerMenu__categories-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
              </div>
              <mat-icon>chevron_right</mat-icon>
              <div class="headerMenu__children" #item>
                  <!-- Change Background -->
                  <div class="background">
                    <picture>              
                        <img src="assets/images/backgrounds/bk-colombia.png" alt="" />
                    </picture>
                  </div>
                  <div class="headerMenu__children-information">
                    <button class="headerMenu__children-back">
                      <mat-icon>west</mat-icon>
                      <p>Volver</p>
                    </button>
                    <div class="headerMenu__children-title headerMenu__children-categories-meetcolombia">
                      Conoce Colombia
                    </div>
                    <div class="headerMenu__children-content">
                      <div class="headerMenu__children-subtitle">Noticias publiaciones y memorias</div>
                      <div class="headerMenu__children-description">Conozca las noticias, publicaciones y memorias de seminarios organizados por ProColombia</div>
                      <a href="" class="headerMenu__children-link">Sala de presa (Noticias)
                        <mat-icon>open_in_new</mat-icon>
                      </a>
                      <a href="" class="headerMenu__children-link">
                        <p>Publicaciones</p>
                        <mat-icon>open_in_new</mat-icon>
                      </a>
                      <a href="" class="headerMenu__children-link">
                        <p>Memorias de Seminarios</p>
                        <mat-icon>open_in_new</mat-icon>
                      </a>
                    </div>
                    <div class="headerMenu__children-content">
                      <div class="headerMenu__children-subtitle">Macrorruedas ProColombia (Puede llamarse actividades de promoción)</div>
                      <div class="headerMenu__children-description">Participe en nuestras ruedas de negocios y Macrorruedas empezando por el cronograma de actividades de promoción.</div>
                      <a href="" class="headerMenu__children-link">
                        <p>Macrorruedas</p>
                        <mat-icon>open_in_new</mat-icon>
                      </a>
                    </div>
                    <div class="headerMenu__children-content">
                      <div class="headerMenu__children-subtitle">Nosotros</div>
                      <div class="headerMenu__children-description">Encuentre los servicios que tenemos a su disposición, como encontrarnos y nuestra apuesta por la sostenibilidad</div>
                      <a href="" class="headerMenu__children-link">
                        <p>PROCOLOMBIA</p>
                        <mat-icon>open_in_new</mat-icon>
                      </a>
                      <a href="" class="headerMenu__children-link">
                        <p>Transparencia</p>
                        <mat-icon>open_in_new</mat-icon>
                      </a>
                      <a href="" class="headerMenu__children-link">
                        <p>Red de oficinas</p>
                        <mat-icon>open_in_new</mat-icon>
                      </a>
                      <a href="" class="headerMenu__children-link">
                        <p>Cómo está organizado ProColombia</p>
                        <mat-icon>open_in_new</mat-icon>
                      </a>
                      <a href="" class="headerMenu__children-link">
                        <p>Responsabilidad social empresaria</p>
                        <mat-icon>open_in_new</mat-icon>
                      </a>
                    </div>
                  </div>
              </div>
            </li>
            <li>    
              <div class="headerMenu__categories-information">     
                <div class="headerMenu__categories-title headerMenu__categories-secondexportations"> <span class="headerMenu__categories-identificator"></span>Exportaciones</div>
                <p class="headerMenu__categories-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
              </div>  
              <mat-icon>chevron_right</mat-icon>
            </li>
            <li>         
              <div class="headerMenu__categories-information">   
                <div class="headerMenu__categories-title headerMenu__categories-investments"><span class="headerMenu__categories-identificator"></span>Inversión</div>
                <p class="headerMenu__categories-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
              </div>  
              <mat-icon>chevron_right</mat-icon>
            </li>
            <li>
              <div class="headerMenu__categories-information">   
                <div class="headerMenu__categories-title headerMenu__categories-tourism"><span class="headerMenu__categories-identificator"></span>Empresarios de turismo</div>
                <p class="headerMenu__categories-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
              </div>  
              <mat-icon>chevron_right</mat-icon>
            </li>
          </ul>
          <div class="headerMenu__left">
            <picture>
              <source srcset="assets/images/logos/color-procolombia.svg" media="(min-width: 960px)" />
              <img src="assets/images/logos/procolombia.svg" alt="" width="228" height="37"/>
            </picture>    
            <div class="headerMenu__left-description">
              <p>Entidad encargada de promover el turismo, la inversión y las exportaciones de Colombia en el ámbito internacional.</p>
            </div>      
            <a class="headerMenu__left-link">Visitar sitio web ></a>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel 
      [expanded]="panelOpenState2"
      class="headerMenu__button">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Conozca Colombia
        </mat-panel-title>        
      </mat-expansion-panel-header>
      <div class="headerMenu__subMenu">
        <!-- Change Background -->
        <div class="background">
          <picture>              
              <img src="assets/images/backgrounds/bk-business.png" alt="" />
          </picture>
        </div>
        <div  class="headerMenu__content">
          <ul class="headerMenu__categories">
            <li> 
              <div class="headerMenu__categories-information">   
                <div class="headerMenu__categories-title headerMenu__categories-country"><span class="headerMenu__categories-identificator"></span>Marca País</div>
                <p class="headerMenu__categories-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
              </div>
              <mat-icon>chevron_right</mat-icon>
            </li>
            <li>       
              <div class="headerMenu__categories-information">       
                <div class="headerMenu__categories-title headerMenu__categories-visitcolombia"> <span class="headerMenu__categories-identificator"></span>Visite Colombia</div>
                <p class="headerMenu__categories-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
              </div>
              <mat-icon>chevron_right</mat-icon>
            </li>
          </ul>
          <div class="headerMenu__left">
            <picture>
              <source srcset="assets/images/logos/color-procolombia.svg" media="(min-width: 960px)" />
              <img src="assets/images/logos/procolombia.svg" alt="" width="228" height="37"/>
            </picture>    
            <div class="headerMenu__left-description">
              <p>Entidad encargada de promover el turismo en el ámbito internacional.</p>
            </div>      
            <a class="headerMenu__left-link">Visitar sitio web ></a>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
    

     

  

  